img{
    width: 51.692px;
height: 59px;
flex-shrink: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

header{
    background-color: #E5E5E5;
    padding: 20px;

    
}

article#habilidades{
    background-color: #4387D8;
    padding: 20px;
  }

article#publicacoes{
    background-color:#E5E5E5;
    padding: 20px;
  line-height: 20px;
  }

  article#formacao{
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right top;
  }

h1, h2{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
  }

body{
    font-size: arial, sans-serif, helvetica;
}

footer{
    background-color:#4387D8;
    padding: 20px;
  }

#fieldset1{
    grid-area: fieldset1;
}

#fieldset2{
    grid-area: fieldset2;
}

#submit{
    grid-area: submit;
    margin-top: 20px;
}

#fieldset1{
    display: grid;
    grid-template-areas: 
    "labnome nome"
    "labmail email"
    ;
    grid-template-columns: 70px 1fr;
    background-color: blue;
    border: 1px solid black;
    padding: 20px;
    color: brown;
}

label[for="nome"]{
    grid-area: labnome;
    margin-bottom: 10px;
}

#nome{
    grid-area: nome;
    margin-bottom: 10px;
}

#email{
    grid-area: email;
}

label[for="email"]{
    grid-area: labmail;
}

label[for="tel"]{
    grid-area: labtel;
    margin-bottom: 10px;
}

#tel{
    grid-area: tel;
    margin-bottom: 10px;
}

#url{
    grid-area: url;
}

label[for="url"]{
    grid-area: laburl;
}

fieldset{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}



#fieldset1{
    display: grid;
    grid-template-areas:
    "labnome  nome"
    "labmail  email"
    ;
    grid-template-columns: 70px 1fr;
    background-color:rgb(241, 241, 241);
    border: 1px solid black;
    padding: 20px;
    color: black;
}

#fieldset1 legend,
#fieldset2 legend{
    background-color: rgb(0, 80, 155);
    color: white;
    width: 100%;
    padding: 10px;
}

#fieldset2{
  display: grid;
  grid-template-areas:
  "labtel  tel"
  "laburl  url"
  ;
  grid-template-columns: 70px 1fr;
  background-color:rgb(241, 241, 241);
  border: 0px;
  padding: 20px;
}

input[type="submit"]{
  background-color: #315E93;
  color: white;
  width: 500px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px navy;
}



@media screen and (max-width: 1024px) { 
main{display:block;} 
} 

@media screen and (max-width: 840px) { 
p{color:pink;} 
} 
